/*elements*/
body {
  background-color: #000;
}

/*classes*/
.myButton {
  box-shadow: 3px 4px 4px -4px #540354;
  background: linear-gradient(to bottom, #000000 5%, #854285 100%);
  background-color: #000000;
  border-radius: 29px;
  border: 2px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #b847b8;
  font-family: Arial;
  font-size: 28px;
  padding: 32px 76px;
  text-decoration: none;
  text-shadow: 1px 3px 24px #000000;
}
.myButton:hover {
  background: linear-gradient(to bottom, #854285 5%, #000000 100%);
  background-color: #854285;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.button-1{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 49%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mybutton-2{
	box-shadow: 3px 4px 4px -4px #ffffff;
	background:linear-gradient(to bottom, #3690e0 5%, #2f302e 100%);
	background-color:#3690e0;
	border-radius:29px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:1px 3px 24px #1c4715;
}
.mybutton-2:hover {
	background:linear-gradient(to bottom, #2f302e 5%, #3690e0 100%);
	background-color:#2f302e;
}
.mybutton-2:active {
	position:relative;
	top:1px;
}
.button-2{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translate(0, -50%);
}

.mybutton-3 {
	box-shadow: 3px 4px 4px -4px #ffffff;
	background:linear-gradient(to bottom, #de3d38 5%, #2f302e 100%);
	background-color:#de3d38;
	border-radius:29px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:1px 3px 24px #1c4715;
}
.mybutton-3:hover {
	background:linear-gradient(to bottom, #2f302e 5%, #de3d38 100%);
	background-color:#2f302e;
}
.mybutton-3:active {
	position:relative;
	top:1px;
}
.button-3{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 78%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
